/* FONT FAMILIES */

/* ROBOTO */

@font-face {
    font-family: "Quarion";
    font-style: normal;
    font-weight: 500;
    src: url("../../../public/fonts/Rene_Bieder-Quarion_Book_DEMO.otf") format("opentype");
}

@font-face {
    font-family: "Quarion";
    font-style: bold;
    font-weight: 700;
    src: url("../../../public/fonts/Rene_Bieder-Quarion_Bold_DEMO.otf") format("opentype");
}
